body{
    font-family: Jaldi;
    margin: 0;
    background-color: #1A202C;
}
header{
    background-color: #1A202C;
    color: white;
    padding: 25px;
    overflow: hidden;
}

.topIcons{
    float: right;
}
.topIcons a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

header .topIcons a:hover{
   color: #47BC78
}

#catIcon{
    height: 38px;
}


.intro{
    color: white;
    background-color: #2E3748;
    padding: 58px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: left;
    margin: 0 auto;
    flex-shrink: 0;
}

#compsci{
    margin-left: 68px;
    white-space: nowrap; /* Prevent the text from wrapping onto multiple lines */
}

.intro img{
    float: right;
    height: 200px;
    margin-left: 58px;
    flex-shrink: 0; /*Prevent the image from shrinking */
    border: 1px solid #47BC78;
    border-radius: 5px;
}

.introtxt{
    font-size: 38px;
    line-height: 0.2;
}


#devtxt1 {
    color: #CB3638;
}

#devtxt2 {
    color: #108BC7;
}

#devtxt1, #devtxt2 {
    font-size: 20px;
    margin-left: 3px
}

#JD {
    display: flex;
    justify-content: flex-end; 
}

.Skills #Frontendtxt, .Skills #Backendtxt, .Skills #Apapertxt {
    text-align: center;
    color: white;
    display: block;
    float: left;
    font-size: 22px;
    padding: 10px;
    width: 20%;
    margin-left: 10px;
}

#BE,#FE, #AP{
    text-align: center;
    font-size: 38px;
    margin: 0;
}


#skillstab{
    background-color: #47BC78;
    color: #2E3748;
    font-size: 33px;
    padding-left: 60px;
    width: 60%; 
    margin-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#skillcontent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.techstack{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.techstack img {
    height: 120px; 
    margin: 10px; 
}

.About {
    background-color: #2E3748;
    color: white;
    font-size: 22px;
    text-align: justify;
}

.About article{
    padding-top: 20px;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 140px;
}

.About #aboutitle {
    text-align: center;
}

#projecttab{
    background-color: #47BC78;
    color: #2E3748;
    font-size: 33px;
    padding-left: 60px;
    width: 60%; /* Limit width to 80% of the container */
    margin-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Projects #projecttitle{
  margin-left: 50px;
}
.Projects h3{
    text-align: center;
}

.Projects{
    color:white;
    font-size: 22px;
    text-align:justify;
}

.systemProject{
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 140px;
   
}
.systemProject button{
    margin-top: 20px;
    background-color: #47BC78;
    color: #1A202C;
    border-radius: 10px;
    border: #47BC78;
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; 
    cursor: pointer; 
}
.systemProject a{
    text-decoration: none;
}
.systemProject button:hover{
    opacity: 80%;
}


footer{
    padding: 20px;
    display: flex;
    background-color: #47BC78;
    justify-content: center;
}

footer img{
    margin: 10px; 
}

footer a img:hover {
    opacity: 70%; 
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    .intro {
        padding: 30px; /* Adjust padding for smaller screens */
        
    }

    #compsci {
        margin-left: 10px; /* Reduce margin for smaller screens */
        font-size: 20px;
    }

    .intro img {
        display: block;
        height: auto; /* Adjust image height for smaller screens */
        margin-left: 20px; /* Adjust margin for smaller screens */
        
    }

    .introtxt {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    #JD {
        margin-right: 30px; /* Adjust margin for smaller screens */
    }

    #devtxt1, #devtxt2 {
        font-size: 16px;
        margin-left: 3px
    }

    #skillstab{
        background-color: #47BC78;
        font-size: 22px;
        padding-left: 60px;
        width: 60%; /* Limit width to 80% of the container */
        margin-left: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .Skills #Frontendtxt,
    .Skills #Backendtxt,
    .Skills #Apapertxt {
        width: 80%; /* Adjust width for smaller screens */
        margin: 10px auto; /* Center align with auto margins */
        text-align: center; /* Center align text */
        font-size: 18px;
    }
    #BE,#FE, #AP{
        font-size: 25px;
        margin: 0;
    }

    .techstack img {
        height: 80px; /* Maintain aspect ratio */
        margin: 10px; /* Adjust margin between images */
    }

    
    .About {
        background-color: #2E3748;
        color: white;
        font-size: 18px;
    }
    
    .About article{
        padding: 30px;
    }
    
    .About #aboutitle {
        text-align: center;
        font-size: 25px;
    }

#projecttab{
        font-size: 22px;
        padding-left: 30px;
        width: 80%; /* Limit width to 80% of the container */
        margin-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
}
.Projects #projecttitle{
    margin-left: 20px;
  }
  .Projects h3{
      text-align: center;
      margin-top: 20px; /* Add some top margin for spacing */
  }
  
  .Projects{
      font-size: 18px;
      text-align:justify;
      margin-bottom: 40px;
  }
  
  .systemProject{
      padding: 30px;
     
  }
  .systemProject button{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
      color: #1A202C;
      border-radius: 10px;
      border: #47BC78;
      text-decoration: none; 
      padding: 10px 20px; /* Adjust padding as needed */
      font-size: 13px; 
      
  }

footer{
    padding: 0px;
    display: flex;
    background-color: #47BC78;
    justify-content: center;
}
    
}